/* HTML and Body Styles*/
html, body {
  background-color: #0D0D0D; 
  font-size: 18px;
  font-family: 'Helvetica', sans-serif;  
}




/* Container Styles */
.container {
  background-color: black;
  color: white;  
  height: 100vh;
  width: 100%;
}




/* Header Section Styles */
header {
  display: flex;
  flex-direction: column;  
  height: 28.32rem;
  overflow: hidden;  
}




/* Banner Styles */
.banner { 
  width: 960px;
  margin: 0 auto;
  padding: 0.66rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;    
}

.banner img {   
  height: 1.5rem;
  display: block; 
  margin: 0 1rem 0 0.5rem;  
}

.banner h1 {
  font-weight: normal;
  text-transform: uppercase;   
  font-size: 1rem;
}




/* Jumbotron Styles */
.jumbotron {  
  background-image: url(../images/moto.jpeg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;   
  height: 25rem;  
}

.jumbotron .featured_products {
  background-color: black;
  margin-top: 9rem;
  width: 20rem;
  height: auto;
  margin: 9rem 0 0 9.8rem;
  padding: 2rem 3rem;   
}

.jumbotron .featured_products a {
  font-family: 'Helvetica', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: white;  
}

.jumbotron .featured_products a:hover {  
  color: firebrick;  
}

.jumbotron .featured_products h2 {
  font-family: 'Helvetica', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25rem;
  text-transform: uppercase;
}




/* Navigation Styles*/
nav {
  background-color: firebrick;
  padding: 0.75rem 0;  
}

nav ul {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav li  {  
  list-style-type: none;  
}

nav li a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  color: black;
}



/* Main Section Styles */

main {
  background-color: white;
}



/* Products Styles*/
.products_section {
  width: 960px;
  height: auto;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content:space-between;
  
}

.products {
  width: 30%; 
  height: auto;
  border: 4px solid black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.products img {  
  max-width: 9rem;
  height: auto;
  display: inline-block;   
  margin: 2rem auto;
}

.products p {
  background-color: black;
  padding: 0.5rem 0;
  text-align: center;  
}



/* Information Styles */
.information_section {
  width: 960px;
  height: auto;
  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information {
  width: 35%;
  height: auto;
  padding-bottom: 4rem;
}

.information h3 {
  background-color: black;
  padding: 1rem 2rem;
}

.information p {
  color: black;  
  margin-top: .3rem;
}



/* Footer Styles */
footer p {
  text-align: left;
  width: 960px; 
  height: 5rem;
  margin: 0 auto;
}